<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background-color: antiquewhite;
      }
      .card {
        height: 30rem;
        width: 60%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: 0.5rem 0.5rem 1rem black;
      }

      .err-msg {
        font-size: 3rem;
      }
    </style>
    <title>Blog</title>
  </head>
  <body>
    <div class="card">
      <h3 class="err-msg">비밀번호를 다시 확인해주세요</h3>
    </div>
  </body>
</html>
